@media only screen and (max-width: 576px) {
    /* Slider */
    #template .slide-wrapper .slide-item {
        max-width: 290px;
    }
    #template .slide-item .slide-content {
        padding: 0 8px;
    }
    #template .slide-item .slide-content h3 {
        font-size: 18px;
    }
    #template .slide-item .slide-content p {
        font-size: 16px;
    }
    #template .slide-item .slide-content .sales-price {
        flex-direction: column;
    }
    #template .slide-item .slide-content .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    #template .slide-item .slide-content .price p {
        margin-top: 25px;
    }
    /* Customer Empowered */
    #empowered .customer-empowered {
        width: 255px;
        height: 65px;
    }
    #empowered .customer-empowered span {
        padding: 8px 16px;
        font-size: 24px;
    }
    /* Gallery */
    #gallery .layout {
        flex-direction: column;
    }
    #gallery h3 {
        padding: 10px;
    }
    #gallery h3 span {
        font-size: 20px;
    }
    /* Contact */
    #contact h3 {
        font-size: 28px;
    }
    #contact p {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 16px;
    }
    #contact button {
        font-size: 16px;
        padding: 12px 24px;
    }
    #contact .members-img-wrapper {
        justify-content: space-between;
    }
    /* Footer */
    #footer .footer-top h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    #footer .footer-top .email-icon {
        left: 10px;
    }
    #footer .footer-top .email-field {
        width: 300px;
        height: 36px;
        font-size: 16px;
        padding-left: 40px;
    }
    #footer .footer-top .send-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
    #footer .footer-middle .logo img {
        width: 150px;
        height: auto;
    }
    #footer .footer-bottom .social-links a {
        height: 32px;
        width: 32px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 576.1px) and (max-width: 768.8px) {

    /* Gallery */
    #gallery .layout {
        flex-direction: column;
    }
    #gallery h3 {
        padding: 10px;
    }
    #gallery h3 span {
        font-size: 20px;
    }
    /* Contact */
    #contact h3 {
        font-size: 28px;
    }
    #contact p {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 16px;
    }
    #contact button {
        font-size: 16px;
        padding: 12px 24px;
    }
    #contact .members-img-wrapper {
        justify-content: space-between;
    }
    #contact .members-img-wrapper img {
        max-width: 80px;
    }
    /* Footer */
    #footer .footer-top h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }
    #footer .footer-top .email-field {
        width: 300px;
        height: 36px;
        font-size: 16px;
    }
    #footer .footer-top .send-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768.9px) and (max-width: 992.8px) {

    /* Gallery */
    #gallery h3 {
        padding: 16px;
        top: 200px;
    }
    #gallery h3 span {
        font-size: 24px;
    }
    /* Contact */
    #contact h3 {
        font-size: 28px;
    }
    #contact p {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 16px;
    }
    #contact button {
        font-size: 16px;
        padding: 12px 24px;
    }
    #contact .members-img-wrapper {
        gap: 8px;
        justify-content: space-between;
    }
    #contact .members-img-wrapper img {
        max-width: 80px;
    }
    /* Footer */
    #footer .footer-top h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }
    #footer .footer-top .email-field {
        width: 300px;
        height: 36px;
        font-size: 16px;
    }
    #footer .footer-top .send-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 992.9px) and (max-width: 1200px) {
    #footer .footer-top .email-field {
        width: 400px;
        height: 36px;
        font-size: 16px;
    }
    #footer .footer-top .send-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}