/* Font: Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* Font: IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

.rating-yellow {
    color: #FCC418;
}

.rating-gray {
    color: #D4D4D4;
}

:root {
    --gradient-btn: linear-gradient(90deg, #FE2A5E, #FFA61B);
    --manrope-font: 'Manrope', sans-serif;
    --ibm-plex-font: 'IBM Plex Sans', sans-serif;
    --footer-bg: radial-gradient(ellipse at top, #307ef3, #04122B 100%);
}

/*-------------------- Header Navbar Section ------------------------------ */
header {
    background: url("../images/circle-shape-bg-2.png"), url("../images/bar-shape.png"), linear-gradient(90deg, #E6EDFA, #F3F5F9, #DCE5F9);
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 720px;
}

header nav.navbar {
    padding: 24px 0;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 38px;
    height: 38px;
}

header .logo h3 {
    color: #000000;
    text-transform: uppercase;
    margin-top: 5px;
}

header .menu>ul {
    background: #DEE2ED;
    border-radius: 40px;
    padding: 0 8px;
}

header .menu ul li a {
    display: inline-block;
    padding: 8px 12px !important;
    color: #444444;
    font-size: 15px;
    font-family: var(--ibm-plex-font);
    transition: all 0.3s ease;
}

header .menu ul li a:hover {
    color: #000000;
}

header .menu ul li ul {
    background: #DEE2ED;
    z-index: 9;
}

.dropdown-toggle::after {
    display: none !important;
}

header .menu ul li a .badge {
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 700;
    font-family: var(--ibm-plex-font);
    background: #72BF40;
}

header .menu .login-btn,
header .menu .hire-btn {
    font-weight: 700;
    font-family: var(--ibm-plex-font);
    font-size: 15px;
    border: none;
    padding: 8px 20px;
}

header .menu .login-btn {
    background: none;
    color: #04122B;
}

header .menu .hire-btn {
    background: #04122B;
    color: #FFFFFF;
    border-radius: 4px;
}

/*-------------------- Banner Section ------------------------------ */
header .banner {
    position: relative;
}

header .banner .tech-icons img {
    padding: 12px;
    border-radius: 50%;
    background: #FFFFFF;
    z-index: 1;
    opacity: 50%;
}

header .banner .nextjs-icon {
    position: absolute;
    bottom: -100px;
    left: -10px;
    animation: roundForward 15s linear infinite forwards;
}

header .banner .reactjs-icon {
    position: absolute;
    bottom: 100px;
    left: 80px;
    animation: roundBackward 15s linear infinite forwards;
}

header .banner .html-icon {
    position: absolute;
    bottom: -40px;
    left: 170px;
    animation: roundForward 15s linear infinite forwards;
}

header .banner .vite-icon {
    position: absolute;
    bottom: -100px;
    right: 150px;
    animation: roundBackward 15s linear infinite forwards;
}

header .banner .unknown-icon {
    position: absolute;
    bottom: 55px;
    right: 240px;
    animation: roundForward 15s linear infinite forwards;
}

header .banner .wordpress-icon {
    position: absolute;
    bottom: -10px;
    right: 10px;
    animation: roundBackward 15s linear infinite forwards;
}

header .banner .elite-author {
    background: #f387441a;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 50px;
    margin: 32px auto;
    z-index: 1;
    position: relative;
}

header .banner .elite-author p {
    color: #F38844;
    font-weight: 700;
    font-family: var(--manrope-font);
    font-size: 14px;
    margin-bottom: 0;
}

@keyframes roundForward {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes roundBackward {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

header .banner h1 {
    font-weight: 800;
    font-size: 64px;
    color: #04122B;
    font-family: var(--manrope-font);
    text-align: center;
    margin: 24px 0;
    z-index: 2;
    position: relative;
}

header .banner h1 span {
    font-size: 56px;
    font-weight: 400;
}

header .banner .descrip {
    color: #04122B;
    max-width: 667px;
    font-size: 18px;
    font-family: var(--ibm-plex-font);
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    z-index: 2;
    position: relative;
}

header .banner .banner-btns {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 24px;
}

header .banner button {
    font-family: var(--ibm-plex-font);
    font-size: 16px;
    font-weight: 700;
    background: #EDEDFA;
    color: #04122B;
    border: 1px solid #B8B8B8;
    width: 166px;
    height: 48px;
    border-radius: 6px;
    transition: all 0.3s ease;
    z-index: 2;
}

header .banner button:first-child {
    background: var(--gradient-btn);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

header .banner button:hover {
    background: var(--gradient-btn);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 14px;
}

/*-------------------- Client Companies ------------------------------ */
.client-company-logos {
    overflow: hidden;
}
.client-company-logos .clients .client {
    margin: 0 24px;
}
.client-company-logos .clients .client figure {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-company-logos img {
    padding: 10px 0;
    transition: all 0.3s ease;
}

.client-company-logos img:hover {
    transform: scale(1.1);
}

/*-------------------- Template Section ----------------------------*/
#template {
    margin-top: 50px;
    padding: 108px 0;
    position: relative;
}

#template .customers {
    position: absolute;
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
    width: 488px;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px 5px #00000021;
    border-radius: 12px;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#template .customers p {
    color: #000000;
    font-weight: 500;
    font-family: var(--manrope-font);
    margin-top: 16px;
}

#template .customers span {
    background: #060E23;
    color: #FFFFFF;
    padding: 4px 12px;
    border-right: 1px solid #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--manrope-font);
}

#template .react-icon {
    background: url("../images/react-icon.png");
    background-repeat: no-repeat;
    background-position: 3% 0;
}

#template .template-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 352px;
}

#template .template-content h6 {
    color: #04122B;
    font-family: var(--manrope-font);
    font-size: 20px;
    font-weight: 500;
}

#template .template-content h3 {
    color: #04122B;
    font-family: var(--manrope-font);
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    background: url("../images/react-line.png");
    background-repeat: no-repeat;
    background-position: 100px;
}

#template .template-content p {
    color: #6E8393;
    font-family: var(--ibm-plex-font);
    font-size: 18px;
    line-height: 30px;
}

#template .template-content a {
    color: #FF4551;
    font-family: var(--ibm-plex-font);
    font-size: 18px;
    font-weight: 600;
}

#template .template-content a span i {
    transform: rotate(45deg);
}

/* -------------------- Template Slider related Style ---------------------------- */
#template .slide-wrapper {
    position: relative;
    padding: 8px;
}

#template .slide-wrapper .slide-item {
    max-width: 414px;
    margin: 24px 4px;
    box-shadow: 0px 0px 5px 1px #b8b8b887;
    overflow: hidden;
    border-radius: 12px;
}

#template .slide-wrapper .slide-item figure {
    width: 100%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

#template .slide-wrapper .slide-item figure img {
    width: 100%;
    height: 216px;
}

#template .slide-item .slide-content {
    padding: 0 24px 24px 24px;
}

#template .slide-item .slide-content .sales-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#template .slide-item .slide-content h4 {
    color: #04122B;
    font-family: var(--manrope-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

#template .slide-item .slide-content p {
    color: #6E8393;
    font-family: var(--ibm-plex-font);
    font-size: 18px;
}

#template .slide-item .slide-content h5 {
    color: #04122B;
    font-weight: 700;
    font-size: 20px;
    font-family: var(--manrope-font);
    margin-top: 16px;
}

#template .slide-item .slide-content button {
    font-family: var(--ibm-plex-font);
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    color: #B8B8B8;
    border: 1px solid #B8B8B8;
    width: 166px;
    height: 48px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#template .slide-item .slide-content button:hover {
    background: var(--gradient-btn);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#template .slide-item .slide-content .cart-btn {
    width: 74px;
    height: 48px;
    border: 1px solid #B8B8B8;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B8B8B8;
    border-radius: 4px;
}

#template .slide-item .slide-content .cart-btn:hover {
    background: transparent;
    color: #B8B8B8;
    border: 1px solid #B8B8B8;
}

/* -------------------- Slider dots related Style ---------------------- */
#template .slide-wrapper .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 0;
    display: flex;
    gap: 16px;
    list-style: none;
}

#template .slide-wrapper .slick-dots li button {
    font-size: 0;
    background: #E6E6E6;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    position: relative;
}

#template .slide-wrapper .slick-dots li.slick-active button {
    background: #FF4551;
}

#template .slide-wrapper .slick-dots li.slick-active button::after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border: 1px solid #FF4551;
    border-radius: 50%;
}

/* -------------------- Slider arrows related Style ---------------------- */
#template .slide-arrows {
    display: flex;
    width: fit-content;
    gap: 24px;
    margin-left: auto;
}

.prev-arrow,
.next-arrow {
    border: 2px solid #FF4551;
    color: #FF4551;
    background: transparent;
    opacity: 40%;
    width: 48px;
    height: 48px;
    border-radius: 44px;
    transition: all 0.3s ease;
}

.prev-arrow:hover,
.next-arrow:hover {
    opacity: 1;
}

/*--------------------- Customer Empowered Section ----------------- */
#empowered {
    padding: 88px 0;
    background: url('../images/circle-shape-bg.png'), url("../images/bar-shape.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

#empowered .content {
    width: fit-content;
    margin: 50px auto -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#empowered .customer-empowered {
    padding: 8px;
    box-shadow: 1px 1px 20px 5px #00000021;
    border-radius: 12px;
    width: 424px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empowered .customer-empowered span {
    background: #71BF3E;
    border-right: 1px solid #FFFFFF;
    padding: 8px 24px;
    font-size: 52px;
    font-family: var(--manrope-font);
    font-weight: 700;
    color: #FFFFFF;
}

#empowered .customer-empowered span:first-child {
    border-radius: 5px 0 0 5px;
}

#empowered .customer-empowered span:last-child {
    border-radius: 0 5px 5px 0;
}

#empowered .content h4 {
    color: #04122B;
    font-size: 28px;
    font-weight: 800;
    font-family: var(--manrope-font);
    margin-top: 24px;
}

#empowered .content p {
    color: #6E8393;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--manrope-font);
}

/*--------------------- Gallery Section --------------------------*/
#gallery {
    padding: 108px 0;
    background: url("../images/gallery-bg.png"), linear-gradient(-45deg, #060E23, #10224F, #162F6B);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#gallery h3 {
    background: #060E23;
    border: 2px solid #FF4551;
    border-radius: 76px;
    padding: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 300px;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 60px 20px #060E23;
    z-index: 1;
}

#gallery h3 span {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
    font-family: var(--manrope-font);
}

#gallery .layout {
    --gap: 20px;
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}

#gallery .layout .col {
    display: grid;
    justify-content: center;
    align-items: center;
}

#gallery .layout .col:first-child {
    margin-top: 32px;
}

#gallery .layout .col:last-child {
    margin-top: 32px;
}

#gallery .layout .col figure {
    width: 100%;
}

#gallery .layout .col figure img {
    width: 100%;
}

/*--------------------- Contact Us Section --------------------------*/
#contact {
    padding: 108px 0;
}

#contact h3 {
    color: #04122B;
    font-family: var(--manrope-font);
    font-size: 56px;
    font-weight: 800;
}

#contact p {
    color: #647989;
    font-family: var(--ibm-plex-font);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 32px;
}

#contact button {
    color: #FFFFFF;
    font-family: var(--ibm-plex-font);
    font-size: 18px;
    font-weight: 700;
    border: none;
    background: var(--gradient-btn);
    width: 166px;
    height: 48px;
    border-radius: 6px;
}

#contact .members-img-wrapper {
    display: flex;
    gap: 24px;
    justify-content: end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

/*--------------------- Footer Section -------------------------------*/
#footer {
    background: var(--footer-bg);
    padding: 108px 0 0;
}

#footer .footer-top {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #04122b22, #b5b5b573, #04122b1c) 1;
}

#footer .footer-top h3 {
    font-family: var(--manrope-font);
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 800;
    max-width: 502px;
    line-height: 44px;
}

#footer .footer-top .email-box {
    position: relative;
    width: fit-content;
}

#footer .footer-top .email-icon {
    position: absolute;
    top: 54%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #9FACB6;
}

#footer .footer-top .send-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #FFFFFF;
    background: var(--gradient-btn);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}

#footer .footer-top .email-field {
    width: 560px;
    height: 60px;
    border: 1px solid #FFF;
    border-radius: 60px;
    background: #9facb67d;
    outline: none;
    font-size: 18px;
    padding: 21px;
    padding-left: 50px;
}

#footer .footer-top .email-field::placeholder {
    color: #9FACB6;
}

#footer .footer-middle .logo {
    display: flex;
    align-items: center;
}

#footer .footer-middle .logo img {
    width: 56px;
    height: 56px;
}

#footer .footer-middle .logo h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
}

#footer .footer-middle .about {
    font-family: var(--ibm-plex-font);
    color: #BED3E3;
    max-width: 329px;
    margin-top: 24px;
}

#footer .footer-middle h4 {
    color: #FFFFFF;
    font-family: var(--manrope-font);
    font-weight: 700;
    margin-bottom: 16px;
}

#footer .footer-middle ul li {
    margin-left: 16px;
    margin-bottom: 8px;
}

#footer .footer-middle ul li::marker {
    color: #354F77;
}

#footer .footer-middle ul li a {
    color: #BED3E3;
    font-family: var(--ibm-plex-font);
    font-size: 15px;
    transition: all 0.3s ease;
}

#footer .footer-middle ul li a:hover {
    margin-left: 4px;
}

#footer .footer-middle ul.products li {
    list-style: none;
    margin-left: 0px;
}

#footer .footer-bottom {
    background-image: url("../images/footer-shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 30px;
}

#footer .footer-bottom .social-links {
    display: flex;
    gap: 12px;
    align-items: center;
}

#footer .footer-bottom .social-links a {
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F415F;
    border-radius: 40px;
    transition: all 0.3s ease;
}

#footer .footer-bottom .social-links a:hover {
    background: var(--gradient-btn);
    margin-top: -6px;
}

#footer .footer-bottom small {
    color: #BED3E3;
    font-family: var(--ibm-plex-font);
    font-size: 14px;
}

#footer .footer-bottom small a {
    text-decoration: underline;
    color: #BED3E3;
}

#footer .footer-bottom .back-to-top {
    color: #FFFFFF;
    font-family: var(--ibm-plex-font);
    font-size: 14px;
    border: none;
    background: transparent;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}